.highlighted-btn {
  border-radius: 50px;
  padding: 8px 20px;
  margin: 0 0 0 28px;

  /* margin: 30px 30px; */
  width: 150px;
  color: white;
  font-size: 15px;
  /* background-color: #ff5823; */
  background-color: #e91e63;
  text-decoration: none;
  padding-bottom: -50px;
}
.highlighted-btn:hover {
  margin: 0 0 0 28px;
  background-color: cornsilk;
  color: #111111;
}
.my-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 35px;
  margin-bottom: 25px;
}
.my-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}