.about-me{
	margin-bottom: 0px;
	padding-bottom: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	background-color: deeppink;
}
.section{
	width: 100%;
	min-height: 35em;
	/* background-color: #ddd; */
	background-color: #0f1f43;

	

}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.image{
	position: relative;
	padding-top: -200px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: 100%;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: #e91e63;
	color:#fff;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#e91e63;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
h1{
	font-size: 44px;
	font-family: "Popins SemiBold";
}
 .h3{
	color: rgb(216, 10, 10);
	font-size: 34px;
	font-family: "Popins SemiBold";
}
p{
	color: rgb(209, 43, 43);
	font-size: 14px;
	font-family: "Popins SemiBold";

}




@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
/* .image-section{
	float:none;
	width:100%; */
	

.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin: 100px 100px;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 10px;
}
.content-section .social{
	text-align: center;
}
}




